.contacts {
  &__block {
    row-gap: 48px;

    @include page-grid;
  }

  &__form {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    &--input {
      outline: none;
      box-sizing: border-box;
      width: 100%;
      padding: $form-elements-padding;
      border: none;
      border-radius: $form-elements-radius;
      background-color: $form-background;
      margin-bottom: 16px;

      &::placeholder {
        font-size: 14px;
        font-weight: $font-weight-regular;
        line-height: 20px;
        color: $color-placeholder;

        transition: color 0.3s ease-in-out;
      }

      &:hover::placeholder {
        color: $color-placeholder-hover;
      }

      &:active::placeholder {
        color: $color-placeholder-hover;
      }
    }

    &--textarea {
      outline: none;
      resize: none;
      overflow: auto;
      box-sizing: border-box;
      width: 100%;
      min-height: 148px;
      grid-column: span 2;
      padding: $form-elements-padding;
      border: none;
      border-radius: 16px;
      background-color: $form-background;
      margin-bottom: 32px;

      &::placeholder {
        font-size: 14px;
        font-weight: $font-weight-regular;
        line-height: 20px;
        color: $color-placeholder;

        transition: color 0.3s ease-in-out;
      }

      &:hover::placeholder {
        color: $color-placeholder-hover;
      }

      &:active::placeholder {
        color: $color-placeholder-hover;
      }
    }

    &--button {
      outline: none;
      box-sizing: border-box;
      width: 100%;
      grid-column: span 2;
      padding-block: 14.5px;
      border: none;
      border-radius: $form-elements-radius;
      background-color: $color-white;

      font-size: 16px;
      font-weight: $font-weight-bold;
      line-height: 27px;
      color: $color-dark;
      cursor: pointer;

      &:hover {
        @include hover(box-shadow, 1px 4px 16px 0 #e8e8f066);
      }

      &:active {
        @include hover(box-shadow, 1px 4px 16px 0 #e8e8f0a3);
      }
    }
  }

  &__info {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / 12;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 24px;

    &--name {
      font-size: 14px;
      font-weight: $font-weight-regular;
      line-height: 140%;
      margin: 0;
      color: $color-white;
    }

    &--link {
      font-size: 16px;
      font-weight: $font-weight-medium;
      line-height: 140%;
      margin: 0;
      color: $color-white;
      text-decoration: none;
    }
  }
}
