.main {
  background-color: $color-dark;

  &__content {
    display: grid;
    padding-block: 60px 320px;

    @include on-tablet {
      padding-top: 120px;
      padding-bottom: calc(480px + 120px);
    }

    @include on-desktop {
      padding-top: 120px;
      padding-bottom: calc(555px + 182px);
    }
  }
}
