$color-white: #fff;
$color-gray: #c2c2c2;
$color-placeholder: #7e7e83;
$color-placeholder-hover: #292929;
$color-dark: #1d1d1d;
$font-weight-bold: 700;
$font-weight-medium-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$efect-duration: 0.3s;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$form-elements-padding: 14px 16px;
$form-elements-radius: 40px;
$form-background: #f8f8fa;
